{% extends 'base.html.twig' %}

{% block title %}
    {% if teamMember %}
        Mitglied bearbeiten
    {% else %}
        Neues Mitglied anlegen
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if teamMember %}
                    <h2>Mitglied {{ teamMember.fullName }}</h2>
                {% else %}
                    <h2>Neues Mitglied anlegen</h2>
                {% endif %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <a class="btn btn-dark btn-sm active pull-right" role="button" aria-pressed="true"
                    href="{{ path('app_ninepins_teammember_get') }}">
                    Abbrechen
                </a>
            </div>
        </div>
    </div>
{% endblock %}