{% extends 'base.html.twig' %}

{% block title %}Mitglieder{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Mitglieder</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th >Id</th>
                        <th >Name</th>
                        <th >Status</th>
                        <th ></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teamMember in teamMembers %}
                        <tr>
                            <td>{{ teamMember.id }}</td>
                            <td>{{ teamMember.fullName }}</td>
                            <td>{{ teamMember.status }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-dark btn-sm active" role="button" aria-pressed="true"
                                       href="{{ path('app_ninepins_teammember_update', {'teamMemberId': teamMember.id}) }}">
                                        bearbeiten
                                    </a>
                                    <a class="btn btn-dark btn-sm active" role="button" aria-pressed="true"
                                       href="{{ path('app_ninepins_teammember_delete', {'teamMemberId': teamMember.id}) }}">
                                        löschen
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-dark btn-sm active pull-right" role="button" aria-pressed="true"
                   href="{{ path('app_ninepins_teammember_create') }}">
                    neues Teammitglied anlegen
                </a>
            </div>
        </div>
    </div>
{% endblock %}